* {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
header {
  background-image: url("../img/26320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -5px;
  background-attachment: fixed;
  height: 320px;
}

#logo {
  display: block;
  margin: auto;
  width: 180px;
  height: 200px;
  border-image: stretch;
}

body {
  background-color: rgb(255, 253, 253);
  margin-left: 8%;
  margin-right: 8%;
}
main {
  background-color: rgb(219, 205, 205);
  background-position: center;
  padding-top: 1%;
  padding-bottom: 9%;
  padding-left: 7.11%;
  padding-right: 5.5%;
}
h1 {
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.6ch;
  margin-top: 72px;
  word-spacing: 1.2ch;
  padding-bottom: 4%;
  height: 0%;
}
h1,
h2 {
  color: #41b9e8;
  font-style: normal;
  background-color: black;
  padding-top: 4px;
  font-weight: bold;
}

#de-mi {
  border-radius: 20px;
  margin-left: 830px;
  text-align: right;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}

h2 {
  padding-bottom: 4px;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 13px;
  letter-spacing: 0.5ch;
  word-spacing: 0.2ch;
}
section {
  margin-top: 8%;
}
ul#type li {
  list-style-type: disc;
}
li {
  line-height: 1.8;
  list-style-type: none;
}
.inline {
  margin-left: 82px;
}
span.cursiva-negrita {
  font-style: italic;
  font-weight: bold;
}

span.negrita-fuerte {
  font-weight: bold;
}

footer {
  background-image: url("../img/26320.jpg");
  background-attachment: fixed;
  color: white;
  padding-top: 0;
  padding-bottom: 0.1%;
  text-align: center;
  height: 80px;
}
.fab {
  color: white;
  padding-left: 20px;
  padding-top: 25px;
}
